
.card-button {
    height: 70px;
    width: 100%;
}

.mat-card-button {
    width: 260px;
    margin-bottom: 9px;
}

.card-title {
    text-align: left;
    display: block;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 8px;
}

.card-subtitle {
    text-align: left;
    display: block;
    color: rgb(109, 40, 19);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.card-blank-button {
    text-align: center;
    margin: auto;
    height: 69px;
    line-height: 70px;
    width: 100%;
    font-size: 18px;
}

.card-blank {
    margin-top: 10px;
    background-color: rgba(235, 235, 235, 0.5);
    border: 0.5px dashed;
}

.handle {
    /* position: absolute; */
    /* left: 230px; */
    /* top: 9px; */
    /* z-index: 1; */
    font-size: 16px;
    cursor: grab;
}

.handle:active {
    cursor: grabbing;
}