@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// Angular Material theme
@include mat-core();
$primary:   mat-palette($mat-grey, 800, 500, 400);
$accent:    mat-palette($mat-orange, 700);
$warn:      mat-palette($mat-deep-orange, 800);
$theme:     mat-light-theme($primary, $accent, $warn);

// Covalent theme
$typography: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 700)
);

// Color classes
@mixin dozo-theme($theme) {
  $primary: map-get($theme, primary);
  $accent:  map-get($theme, accent);
  $warn:    map-get($theme, warn);

  .bgPrimary { background-color: mat-color($primary); }
  .bgAccent { background-color: mat-color($accent); }
  .bgWarn { background-color: mat-color($warn); }
  .txtPrimary { color: mat-color($primary); }
  .txtAccent { color: mat-color($accent); }
  .txtWarn { color: mat-color($warn); }

}

// includes
@include angular-material-theme($theme);
@include covalent-theme($theme, $typography);
@include dozo-theme($theme);
