@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// Angular Material theme
@include mat-core();
$primary:   mat-palette($mat-light-blue, 400, 500, 900);
$accent:    mat-palette($mat-orange, 800);
$warn:      mat-palette($mat-deep-orange, 800);
$theme:     mat-light-theme($primary, $accent, $warn);

// Covalent theme
$typography: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 700)
);

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography);