
<div layout=row layout-padding>
    <div flex>
    <mat-card>
        <mat-card-title>My Projects</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>Projects</mat-card-content>
    </mat-card>
    </div>
    <div flex>
    <mat-card>
        <mat-card-title>My Teams</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>Teams</mat-card-content>
    </mat-card>
    </div>
    <div flex>
    <mat-card>
        <mat-card-title>Updates</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>Updates</mat-card-content>
    </mat-card>
    </div>
</div>