
<h2>Hi {{user.name}}!</h2>

<a [routerLink]="['new_question']">Add a Question</a>
<hr>
<form>
<div class="form-group">
    <input type="text" class="form-control" name=search
    placeholder="Type to search..." [(ngModel)]="search">
</div>
</form>
<hr>




<div class=row>
    <div class=col-sm-6>Question</div>
    <div class=col-sm-3>Answers</div>
    <div class=col-sm-3>Actions</div>
</div>
<span *ngIf="search === ''">
<div class=row *ngFor="let q of questions">
    <div class=col-sm-6>{{q.text}}</div>
    <div class=col-sm-3>{{q.count}}</div>
    <div class=col-sm-3>
        <button class="btn btn-default" (click)=show(q._id)>Show</button>
        <button class="btn btn-default" (click)=answer(q._id)>Answer</button>
    </div>
</div>
</span>
<span *ngIf="search !== ''">
<div class=row *ngFor="let q of questions | filter:'text' : search">
    <div class=col-sm-6>{{q.text}}</div>
    <div class=col-sm-3>{{q.count}}</div>
    <div class=col-sm-3>
        <button class="btn btn-default" (click)=show(q._id)>Show</button>
        <button class="btn btn-default" (click)=answer(q._id)>Answer</button>
    </div>
</div> 
</span>