<div mat-dialog-content>

  <form #form=ngForm>

    <mat-form-field>
      <input matInput placeholder="First Name"
        name=first [(ngModel)]='user.first' #first='ngModel'
        required minlength=2>
        <mat-hint align=end>Minimum 2 characters</mat-hint>
        <mat-error align=right *ngIf=first.errors [hidden]=!first.errors.minlength>
          Must be 2 characters minimum.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name"
        name=last [(ngModel)]='user.last' #last='ngModel'
        required minlength=2>
        <mat-hint align=end>Minimum 2 characters</mat-hint>
        <mat-error align=right *ngIf=last.errors [hidden]=!last.errors.minlength>
          Must be 2 characters minimum.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email Address"
        name=email [(ngModel)]='user.email'
        required [formControl]=email
        (keyup)="user.email = user.email.toLowerCase()"
        (keyup)="address$.next($event.target.value)">
        <mat-hint align=end *ngIf=!unique class=warn>
          Email address already in use.
        </mat-hint>
        <mat-error align=right *ngIf=email.invalid>{{getEmailError()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hidePW ? 'password' : 'text'"
        matInput placeholder="Password"
        name=_pw [(ngModel)]='user._pw' #_pw='ngModel'
        required minlength=8>
      <mat-icon matSuffix (click)="hidePW = !hidePW">
        {{hidePW ? 'visibility' : 'visibility_off'}}
      </mat-icon>
        <mat-hint align=end>Minimum 8 characters</mat-hint>
        <mat-error align=right *ngIf=_pw.errors [hidden]=!_pw.errors.minlength>
          Must be 8 characters minimum.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hidePWC ? 'password' : 'text'"
        matInput placeholder="Confirm Password"
        name=_pwconf [(ngModel)]='user._pwconf' #_pwconf='ngModel'
        required pattern={{user._pw}}>
      <mat-icon matSuffix (click)="hidePWC = !hidePWC">
        {{hidePWC ? 'visibility' : 'visibility_off'}}
      </mat-icon>
        <mat-error align=right *ngIf=_pwconf.errors [hidden]=!_pwconf.errors.pattern>
          Must be exact password match.
        </mat-error>
    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions align=center>
<button mat-raised-button *ngIf="!form.valid || !unique" disabled>Submit</button>
<button mat-raised-button *ngIf="form.valid && unique" color=accent (click)="sendUser()">Submit</button>
</div>