
<span *ngIf="user | async as user">

<div layout=row layout-padding>

    <div flex>

        <h3>Change Password</h3>
        <form #pwForm=ngForm (submit)=changePW()>

            <mat-form-field>
            <input [type]="hidePW ? 'password' : 'text'"
                matInput placeholder="Password"
                name=_pw [(ngModel)]='pwField._pw' #_pw='ngModel'
                required minlength=8>
            <mat-icon matSuffix (click)="hidePW = !hidePW">
                {{hidePW ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            </mat-form-field>

            <mat-form-field>
            <input [type]="hidePWC ? 'password' : 'text'"
                matInput placeholder="Confirm Password"
                name=_pwconf [(ngModel)]='pwField._pwconf' #_pwconf='ngModel'
                required pattern={{pwField._pw}}>
            <mat-icon matSuffix (click)="hidePWC = !hidePWC">
                {{hidePWC ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error align=right *ngIf=_pwconf.errors [hidden]=!_pwconf.errors.pattern>
                Must be exact match.
            </mat-error>
            </mat-form-field>
            
            <button mat-raised-button *ngIf="!pwForm.valid" disabled>Change Password</button>
            <button type=submit mat-raised-button color=accent *ngIf="pwForm.valid">Change Password</button>
        </form>

        <div>&nbsp;</div>

        <h3>Delete Account</h3>
        <form #delForm=ngForm (submit)=unregister()>
            <mat-form-field>
            <input [type]="hidePWD ? 'password' : 'text'"
            matInput placeholder="Password"
            name=_pw [(ngModel)]='pwDel._pw' #_pw='ngModel'
            required minlength=8>
            <mat-icon matSuffix (click)="hidePWD = !hidePWD">
            {{hidePW ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error align=right>{{pwError}}</mat-error>
            </mat-form-field>

            <button mat-raised-button *ngIf="!delForm.valid" disabled>Delete</button>
            <button type=submit mat-raised-button color=accent *ngIf="delForm.valid">Delete</button> 
        </form>

    </div>

    <div flex=5>&nbsp;</div>
    
    <div flex>
        <h3>Update My Information</h3>
        <user-form [user]=user [action]=action (send)=update($event)></user-form>
    </div>

</div>

</span>