
<div *ngIf="project" layout=row layout-margin>

    <div *ngFor="let lane of project.grid, let i = index" class=lane>
        <mat-menu #headerMenu="matMenu">
            <button mat-menu-item
            (click)=openEditLane(lane)>Rename</button>
            <button *ngIf="project.grid && lane !== project.grid[0]" mat-menu-item (click)=openDeleteLane(lane)>Delete</button>
        </mat-menu>
        <mat-card class="bgAccent card-header">
            <mat-icon class=header-menu [matMenuTriggerFor]="headerMenu" *ngIf="project.creator && user._id === project.creator._id">
                arrow_drop_down
            </mat-icon> 
            <mat-card-title class="card-heading text-truncate" align=center>
                {{lane.title}}
            </mat-card-title>
        </mat-card>
        <div class=drag [dragula]='"lane"' id="{{lane._id}}-{{i}}">
            <mat-card class=mat-card-button *ngFor="let task of lane.tasks, let j = index" id="{{task._id}}-{{j}}">
                <mat-icon
                    *ngIf="task.creator && (user._id === task.creator._id)
                        || project.creator && (user._id === project.creator._id)"
                    class=card-delete
                    (click)="openDeleteTask(task._id)">
                    cancel
                </mat-icon>
                <mat-card-content class=mat-card-button>
                <ng-template #space>&nbsp;</ng-template>
                <span class="card-title">{{task.title}}</span>
                <span class="card-subtitle">{{task.description}}</span>
                </mat-card-content>
                <span *ngIf="(task.contributor && user._id === task.contributor._id)
                          || (task.creator && user._id === task.creator._id)
                          || (project.creator && user._id === project.creator._id); else space">
                    <svg class=handle xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96 120" enable-background="new 0 0 96 96" xml:space="preserve"><polygon points="86.953,46.952 74.944,34.944 73.462,36.426 83.99,46.952 49.048,46.952 49.048,12.01 59.574,22.538 61.056,21.056   49.048,9.046 48,8 46.952,9.046 34.944,21.056 36.426,22.538 46.952,12.01 46.952,46.952 12.01,46.952 22.538,36.426 21.056,34.944   9.046,46.952 8,48 9.046,49.048 21.056,61.056 22.538,59.574 12.01,49.048 46.952,49.048 46.952,83.99 36.426,73.462 34.944,74.944   46.952,86.953 48,88 49.048,86.953 61.056,74.944 59.574,73.462 49.048,83.99 49.048,49.048 83.99,49.048 73.462,59.574   74.944,61.056 86.953,49.048 88,48 "/>
                    </svg>
                    <mat-icon class=edit (click)=openEditTask(task)>edit</mat-icon>
                </span>
            </mat-card>
        </div>
    </div>

    <div *ngIf="project.creator && project.creator._id === user._id && project.grid?.length < 5" class=lane>

        <div class="lane-blank">
            <a *ngIf=!newLane.status mat-button (click)="addLane()" class=lane-blank-button>
                New Lane <mat-icon>playlist_add</mat-icon>
            </a>
            <input class=input-blank *ngIf=newLane.status
                name=laneTitle [(ngModel)]=newLane.title #laneTitle='ngModel'
                (keyup.enter)=createNewLane() maxlength=14 matTooltip="{{newLaneTip}}"
                (blur)="newLane = {status: false, title: ''}" placeholder="(Add Title)">
        </div>

    </div>

    <div *ngIf="project.grid?.length < 2" class=lane>&nbsp;</div>
    <div *ngIf="project.grid?.length < 3" class=lane>&nbsp;</div>
    <div *ngIf="project.grid?.length < 4" class=lane>&nbsp;</div>

</div>

<!-- <td-json-formatter [data]="project" [levelsOpen]="1"></td-json-formatter> -->