
<div layout=row layout-padding>

    <div layout=column flex>
        
        <mat-card class="card-header bg-accent">
            <mat-card-title class=card-heading align=center>To Do</mat-card-title>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 1</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 2</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 3</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

    </div>
    
    <div layout=column flex>
        
        <mat-card class="card-header bg-accent">
            <mat-card-title class=card-heading align=center>Planning</mat-card-title>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 4</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 5</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

    </div>

    <div layout=column flex>
        
        <mat-card class="card-header bg-accent">
            <mat-card-title class=card-heading align=center>Doing</mat-card-title>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 6</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>
        
    </div>

    <div layout=column flex>
        
        <mat-card class="card-header bg-accent">
            <mat-card-title class=card-heading align=center>Done</mat-card-title>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 7</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 8</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 9</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card>
            <mat-card-title>Task 10</mat-card-title>
            <mat-card-subtitle>Project Name</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card>

    </div>

</div>