
<div>&nbsp;</div>
<h1 align=center>Project tracking made simple</h1>
<h2 align=center>
    Just the features you need<br>
    to get the job done
</h2>
<div>&nbsp;</div>
<h2 align=center>How It Works</h2>

<div class=col-2>&nbsp;</div>
<mat-horizontal-stepper class=col-8>
    <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <div align=center>Image 1</div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <div align=center>Image 2</div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <div align=center>Image 3</div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div align=center>Image 4</div>
    </mat-step>
</mat-horizontal-stepper>
<div class=col-2>&nbsp;</div>