
<mat-nav-list>
  <h3 matSubheader>All Projects Available</h3>
  <span *ngFor="let project of projects">
    <mat-list-item (click)=openJoinProject(project)>
      <mat-icon matListIcon>assignment</mat-icon>
      <span matLine>{{project.title}}</span>
    </mat-list-item>
  </span>
  <mat-list-item *ngIf="projects?.length === 0">
    <mat-icon matListIcon>cancel</mat-icon>
    <span matLine>No Projects Available</span>
  </mat-list-item>
</mat-nav-list>

<!-- <td-json-formatter [data]="projects" [levelsOpen]="1"></td-json-formatter> -->
