
<mat-toolbar color=primary>
  <div class=col-1></div>
  <div class="col-1"><h1>Dozo</h1></div>
  <div class=col-9 align=right>
    <span *ngIf=!user>
      <button mat-raised-button color=accent (click)=openLogIn()>Log In</button>
      <button mat-raised-button color=accent (click)=openSignUp()>Sign Up</button>
    </span>
    <span *ngIf=user>
      <!-- Insert user router links here -->
      <button mat-raised-button color=accent (click)=openAccount()>Account</button>
      <button mat-raised-button color=accent (click)=logout()>Log Out</button>
    </span>
  </div>
  <div class=col-1></div>
</mat-toolbar>

<div class=col-1>&nbsp;</div>
<div class="col-10 full">
  <app-landing *ngIf=!user></app-landing>
  <router-outlet *ngIf=user></router-outlet>
</div>
<div class=col-1>&nbsp;</div>