
<nav>
    <button class="btn btn-default" (click)="home()">Home</button>
    <button class="btn btn-default" (click)="question()">Back to Question</button>
</nav>

<h3>Add Answer to:</h3>
<h2>"{{q.text}}"</h2>
<h4>{{q.support}}</h4>

<form #form="ngForm">

<div class=col-sm-8>
  <div class=form-group>
    <textarea required minlength=5
    name=text [(ngModel)]=answer.text #text='ngModel'
    class=form-control placeholder="Answer"></textarea>
    <span *ngIf="text.errors && text.dirty">
    <span [hidden]=!text.errors.required>Required!</span>
    <span [hidden]=!text.errors.minlength>Minlength is 5!</span>
    </span>
  </div>
  <div class=form-group>
    <textarea name=support [(ngModel)]=answer.support #support='ngModel'
    class=form-control placeholder="Supporting details (optional)"></textarea>
  </div>
  <div class=form-group>
    <button (click)=cancel() class="btn btn-default">Cancel</button>
    <button (click)=submit() [disabled]="!form.valid" class="btn btn-default">Submit</button>
  </div>

  <div *ngIf="flashes" class="form-group text-center">
    <div class=col-sm-6>
      <div class="alert alert-danger">
        <span *ngFor="let flash of flashes">{{flash}}<br></span>
      </div>
    </div>
  </div>

</div>