<form #form=ngForm (submit)=sendTask()>

<div mat-dialog-content>

    <mat-form-field>
      <input matInput placeholder="Title"
        name=title [(ngModel)]='task.title' #title='ngModel'
        required maxlength=40>
        <mat-error *ngIf=title.errors [hidden]=!title.errors.required align=right>
          A title is required.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description"
        name=description [(ngModel)]='task.description' #description='ngModel'
        rows=3 maxlength=200></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select *ngIf=task.contributor name=contributor
        [(ngModel)]='task.contributor' #contributor='ngModel' placeholder="Assigned to {{task.contributor.name}}">
        <mat-option *ngFor="let contributor of contributors" value="{{contributor._id}}">{{contributor.name}}</mat-option>
      </mat-select>
      <mat-select *ngIf=!task.contributor name=contributor
        [(ngModel)]='task.contributor' #contributor='ngModel' placeholder="Assign to">
        <mat-option *ngFor="let contributor of contributors" value="{{contributor._id}}">{{contributor.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Details" name=details
        [(ngModel)]='task.details' #details='ngModel' rows=3></textarea>
    </mat-form-field>

</div>

<div mat-dialog-actions align=center>
<button mat-raised-button *ngIf=!form.valid disabled>{{action}}</button>
<button type=submit mat-raised-button color=accent *ngIf=form.valid>{{action}}</button>
</div>

</form>