
<div layout=row>
<div flex=5></div>
<div flex layout=column layout-padding layout-margin>
    <div flex>
    <mat-card>
        <mat-card-title align=center>Project tracking made simple</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content align=center><h3>Just the features you need to get the job done</h3></mat-card-content>
    </mat-card>
    </div>
    <div flex>
    <mat-card>
        <mat-card-title align=center>How it Works</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-horizontal-stepper>
            <mat-step>
                <ng-template matStepLabel>Step 1</ng-template>
                <div align=center>Image 1</div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 2</ng-template>
                <div align=center>Image 2</div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 3</ng-template>
                <div align=center>Image 3</div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div align=center>Image 4</div>
            </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
    </div>
</div>
<div flex=5></div>
</div>