
<div layout=row>
<div flex layout=column layout-margin>
    <div flex>
    <mat-card>
        <mat-card-title align=center>Seamless workflow visualization for teams</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-horizontal-stepper>
            <mat-step>
                <ng-template matStepLabel>Step 1</ng-template>
                <div align=center>Screenshot 1</div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 2</ng-template>
                <div align=center>Screenshot 2</div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 3</ng-template>
                <div align=center>Screenshot 3</div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div align=center>Screenshot 4</div>
            </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
    </div>
</div>
</div>